.container {
  background-color: #3e2d60;
  color: white;
  padding-top: 48px;
}
.sectionName {
  text-transform: uppercase;
  padding: 0 0 6px 48px;
  font-size: 11px;
  opacity: 0.4;
}
.menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.menuItem {
  padding: 8px 84px 8px 48px;
  font-weight: 300;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
  &.active {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.label {
    font-size: inherit;
}

.icon {
  padding-right: 10px;
  position: relative;
  color: white;
  top: 1px;
}
